
.container-header {
    height: 50px;
    background-color: chartreuse;
    padding: 5px;

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style: none;
    text-align: center;
    font-size: 20px;
}